
.manguon {
	font-family: 'Courier New';
	font-size: 12pt;
	white-space: pre;
}

.quanho {
	font-size:1px;
}
. bg-gray-50 {
	--tw-bg-opacity: 1;
    background-color: rgba(247,247,248,var(--tw-bg-opacity));
}

.typing {
	display:none;
}
